<div >
    <button type="button" class="btn btn-primary" (click)="this.router.navigate(['orders/create'])" style="margin-top: 10px; margin-bottom: 10px;">
        Create order    
    </button>
    <div class=" pre-scrollable" style="max-height: 80vh; overflow: auto;"> 
        <table class="table real-table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th class="header">#</th>
                    <th class="header">Sender</th>
                    <th class="header">Destinations</th>        
                    <th class="header">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; let i = index" [ngStyle]="{ background: i % 2 === 0 ? 'white' : 'lightgrey' }">
                    <td>{{i}}</td>
                    <td>{{order.sender}}</td>
                    <td>{{order.destination}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </tbody>        
        </table>
    </div>
</div>