<div class="header" style="background-color: firebrick; height: 50px;" >
  <p class="text h2 text-center" style="color:aliceblue; margin: 0% !important; text-align: center;
  line-height: 50px;">ANGULAR</p>
</div>
  <ul class="nav nav-justified"  style="height: 39px;">
    <li class="nav-tabs h4">
      <a class="navbar-link" href="#">HOME</a>
    </li>
    <li class="nav-tabs h4">
      <a class="navbar-link" href="orders">ORDERS</a>
    </li>
    <li class="nav-tabs h4">
      <a class="navbar-link" href="#">ACTIVE</a>
    </li>
  </ul>


<div class="container">
    <router-outlet></router-outlet>
</div>
  
