<form class="form-group" [formGroup]="orderForm">
  <div>
    <p class="text h4">Sender</p>
    <select class="form-control" formControlName="sender" >
      <option  *ngFor="let item of customers" [ngValue]="item.id">{{item.address}}</option>
    </select>
    <p class="text-danger" *ngIf="isControlValid('sender')">incorrect sender state</p>
  </div>
  <hr>
  <div>
    <p class="text h4">Destination</p>
    <select class="form-control" formControlName="destination">
      <option  *ngFor="let item of customers" [ngValue]="item.id" >{{item.address}}</option>
    </select>
    <p class="text-danger" *ngIf="isControlValid('destination')">incorrect destination state</p>
  </div>
  <hr>
  <div>
    <p class="text h4">Cargoes</p>    
    <div *ngIf="operationType == 'UPDATE'; else initialCargoList">
      <app-cargo-list></app-cargo-list>
    </div>
  </div>
  <hr>
  <button class="form-control btn btn-primary" style="width: 125px; float: right;" type="submit">Save</button>
</form>

<ng-template #initialCargoList>
  <div>
    <app-cargo-list-initial></app-cargo-list-initial>
  </div>
</ng-template>